<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %>
 </div>

  <div><%= f.label :password %><br />
    <p><%= f.password_field :password, autocomplete: "off", class: "form-control" %></p>
  </div>

  <div><p><%= f.submit "Sign up", class: "btn btn-primary" %></p></div>
<% end %>

<%= render "devise/shared/links" %>
